* {
  margin: 0;
  padding: 0;
}

html, body {
  background: #f0f2f4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  font-size: 14px;
  color: #24292e;
}
body {
  padding: 24px;
}

.hidden {
  display: none !important;
}

#not-support, #title {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px 0 12px;
}
#not-support {
  color: #ef670f;
  margin-top: 120px;
}
#not-support strong {
  font-size: 32px;
}

#title {
  padding-bottom: 24px;
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
}
#title h3 {
  font-weight: normal;
  font-size: 30px;
  text-align: center;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hanzi {
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #666;
  display: flex;
  height: 30px;
  width: 240px;
  padding: 0 8px;
  line-height: 1;
  font-size: 20px;
}
#pinyin {
  margin: 24px auto 12px;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  max-width: 100%;
  overflow: auto;
}
